
:root {
    --grid-size: 16;
}

#gobalContainer{
    display: flex;    
    flex-direction: column;
    justify-content: center;
    border: 1px solid pink;
    padding: 10px;
}
 
.options {
    display: flex;
    justify-content: center;
}

.main {
    display: flex;
    justify-content: center;
}
#sketchContainer {
    display: grid;
    height: 400px;
    width: 400px;
    grid-template-columns: repeat(var(--grid-size), 1fr);
    grid-template-rows: repeat(var(--grid-size), 1fr);
    border: 1px solid black;  
    margin-top: 20px;
    gap: 0;
    }

div {
    border: 0px solid black; 
}

.cell {
    border: 1px solid grey;
    height: minmax(10fr, 20fr);
    width: minmax(10fr, 20fr); 
    margin: 0px;
}

.hover {
    background-color: blue;
}